@page "/transferlogs"
@inject MicroRabbit.MatBlazorWASM.Services.ITransferLogService TransferLogService

<div class="container">
    <h3>TransferLogs</h3>

    <MatTable Items="@transfers" Class="mat-elevation-z5" ShowPaging="false" UseSortHeaderRow="true">
        <MatTableHeader>
            <MatSortHeaderRow>
                <MatSortHeader SortId="id">ID</MatSortHeader>
                <MatSortHeader SortId="from">From Account</MatSortHeader>
                <MatSortHeader SortId="to">To Account</MatSortHeader>
                <MatSortHeader SortId="amount">Amount</MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>

        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.FromAccount</td>
            <td>@context.ToAccount</td>
            <td>@context.TransferAmount</td>
        </MatTableRow>

    </MatTable>
</div>


@code {

    IList<MicroRabbit.MatBlazorWASM.Models.TransferLog> transfers = new List<MicroRabbit.MatBlazorWASM.Models.TransferLog>();

    protected override async Task OnInitializedAsync()
    {
        await TransferLogService.GetTransferLogs();
        transfers = TransferLogService.TransferLogs;
    }
}
